@import "_normalize";
@import "_variables";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=latin-ext");
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #3767ad;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  position: relative;
}

.add {
  background: #ffffff;
  border-radius: 7px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 18px;
  font-weight: bold;
  height: 47px;
  margin-top: 48px;
  left: 79px;
  top: 531px;
  width: 216px;
}

.number {
  align-items: center;
  background-size: contain;
  color: #000;
  display: flex;
  font-size: 112px;
  height: 280px;
  justify-content: center;
  position: absolute;
  top: 160px;
  width: 280px;
}

.remove {
  background: none;
  border: none;
  color: white;
  margin-top: 37px;
  height: 23px;
  left: 95px;
  top: 615px;
  width: 184px;
}

.historyButton {
  background: none;
  border: none;
  color: white;
  margin-top: 37px;
  height: 23px;
  left: 95px;
  top: 615px;
  width: 184px;
}

.history {
  display: flex;
  display: none;
  position: absolute;
  right: -1rem;
  min-width: 30rem;
  min-height: 70vh;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.452);
  border-radius: 8px;
  margin-right: 80px;
  z-index: 2;
  background: rgb(240, 240, 255);
  background: linear-gradient(189deg, rgb(200, 210, 252) 19%, rgba(207, 207, 253, 0.984) 80%);
  &--visible {
    display: block;
  }
}

.main {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
